<!DOCTYPE html>
<html lang="en">

<head>
  <title>Blog</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link href="/css/style.css" rel="stylesheet" />
  <script src="/js/script.js"></script>

</head>

<body>
  <div id="wrap">
        <!-- header -->
        <header id="header">
            <!-- nav -->
            <nav id="nav">
                <h3 class="logo">
                    <span>이력서 플랫폼</span>
                </h3>
                <ul class="menu">
                    {{#principal}}
                    <li>
                        <span>{{principal.username}}</span>
                    </li>
                    <li>
                        <span>로그아웃</span>
                    </li>
                    {{/principal}}
                    {{^principal}}
                    <li>
                        <span>로그인</span>
                    </li>
                    <li>
                        <span>회원가입</span>
                    </li>
                    {{/principal}}
                    <!-- 권한이 있는 경우 -->
                    
                </ul>
            </nav>
        </header>