{{>layout/header}}
<!-- main -->
<main class="resume_wrap" id="resume_list_page">
    <div id="container">
        <section>
            <h2 class="sub_title">이력서 목록</h2>
            <div>
                <article>
                    <ul class="resume_list_area">
                        <li class="resume_list_profile">
                            <div class="resume_profile_img">
                                <img src="/image/img/img_user_profile.png" alt="프로필 사진">
                            </div>
                        </li>
                        <li class="resume_list_item">
                            <ul>
                                <li class="resume_total">
                                    <p>전체<span class="resume_num">2</span></p>
                                    <div>
                                        <a class="common_btn" href="/resume_write.html">이력서 등록</a>
                                    </div>
                                </li>
                                <li class="resume_list_box">
                                    <ul>
                                        <li class="resume_entry">
                                            <span class="resume_intro_tit">홍길동 이력서_241029</span>
                                            <div><a class="action_btn" href="#">이력서 수정</a></div>
                                        </li>
                                        <li class="resume_level">신입</li>
                                        <li class="resume_skills">
                                            <span>HTML/CSS</span>
                                            <span>JavaScript</span>
                                            <span>MySQL</span>
                                            <span>Spring</span>
                                            <span>Java</span>
                                        </li>
                                    </ul>
                                </li>
                                <li class="resume_list_box">
                                    <ul>
                                        <li class="resume_entry">
                                            <span class="resume_intro_tit">홍길동 이력서_241029</span>
                                            <div><a class="action_btn" href="#">이력서 수정</a></div>
                                        </li>
                                        <li class="resume_level">신입</li>
                                        <li class="resume_skills">
                                            <span>HTML/CSS</span>
                                            <span>JavaScript</span>
                                            <span>MySQL</span>
                                            <span>Spring</span>
                                            <span>Java</span>
                                        </li>
                                    </ul>
                                </li>
                                <li class="resume_list_box">
                                    <ul>
                                        <li class="resume_entry">
                                            <span class="resume_intro_tit">홍길동 이력서_241029</span>
                                            <div><a class="action_btn" href="#">이력서 수정</a></div>
                                        </li>
                                        <li class="resume_level">신입</li>
                                        <li class="resume_skills">
                                            <span>HTML/CSS</span>
                                            <span>JavaScript</span>
                                            <span>MySQL</span>
                                            <span>Spring</span>
                                            <span>Java</span>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </article>
            </div>
        </section>
    </div>
</main>
{{>layout/footer}}