{{>layout/header}}

<main class="common_wrap center_wrap" id="login_page">
    <div id="container">
        <section class="common_box">
            <h1>에러페이지</h1>
            <p>에러코드 : {{statusCode}}</p>
            <p>에러 메시지 : {{message}}</p>
        </section>
    </div>
</main>

{{> layout/footer}}