{{>layout/header}}
<!-- main -->
<main class="common_wrap" id="public_resume_list_page">
    <div id="container">
        <section>
            <article>
                <div class="resume_tach_option">
                    <select class="select" id="tech-stack">
                        <option value="" selected disabled>기술스택</option>
                        <option value="javascript">javascript</option>
                        <option value="python">Python</option>
                        <option value="java">Java</option>
                        <option value="oracle">oracle</option>
                    </select>
                    <select class="select" id="tech-stack" name="techStack">
                        <option value="" selected disabled>경력</option>
                        <option value="신입">신입</option>
                        <option value="경력">경력</option>
                    </select>
                </div>
            </article>
            <article>
                <ul class="resume_main_area">
                    <li class="resume_main_item">
                        <div class="resume_profile_img">
                            <img src="/image/img/img_user_profile.png" alt="배경이미지">
                        </div>
                        <ul class="resume_main_txt">
                            <li>박인우</li>
                            <li>데이터로 일하는 개발자</li>
                            <li class="resume_level">신입</li>
                            <li>서울 특별시</li>
                            <li class="resume_skills">
                                <span>JavaScript</span>
                                <span>HTML/CSS</span>
                                <span>Spring</span>
                            </li>
                        </ul>
                    </li>
                    <li class="resume_main_item">
                        <div class="resume_profile_img">
                            <img src="/image/img/img_user_profile.png" alt="배경이미지">
                        </div>
                        <ul class="resume_main_txt">
                            <li>박인우</li>
                            <li>데이터로 일하는 개발자</li>
                            <li class="resume_level">신입</li>
                            <li>서울 특별시</li>
                            <li class="resume_skills">
                                <span>JavaScript</span>
                                <span>HTML/CSS</span>
                                <span>Spring</span>
                            </li>
                        </ul>
                    </li>
                    <li class="resume_main_item">
                        <div class="resume_profile_img">
                            <img src="/image/img/img_user_profile.png" alt="배경이미지">
                        </div>
                        <ul class="resume_main_txt">
                            <li>박인우</li>
                            <li>데이터로 일하는 개발자</li>
                            <li class="resume_level">신입</li>
                            <li>서울 특별시</li>
                            <li class="resume_skills">
                                <span>JavaScript</span>
                                <span>HTML/CSS</span>
                                <span>Spring</span>
                            </li>
                        </ul>
                    </li>
                    <li class="resume_main_item">
                        <div class="resume_profile_img">
                            <img src="/image/img/img_user_profile.png" alt="배경이미지">
                        </div>
                        <ul class="resume_main_txt">
                            <li>박인우</li>
                            <li>데이터로 일하는 개발자</li>
                            <li class="resume_level">신입</li>
                            <li>서울 특별시</li>
                            <li class="resume_skills">
                                <span>JavaScript</span>
                                <span>HTML/CSS</span>
                                <span>Spring</span>
                            </li>
                        </ul>
                    </li>
                </ul>
            </article>
            <ul class="pagenation">
                <li class="prev">&lt;</li>
                <li class="page_num active">
                    <span>1</span>
                </li>
                <li class="page_num">
                    <span>2</span>
                </li>
                <li class="next">&gt;</li>
            </ul>
        </section>
    </div>
</main>
{{>layout/footer}}